body {
  font-size: 16px;
  color: #000;
  background-color: #FFF;
  font-family: 'Rajdhani', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #4286f4;
  background-image: linear-gradient(120deg, #0752bc, #4286f4);
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/me.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
  background-size: cover;
}

.navbar-brand {
  padding-top: 25px;
  margin-bottom: 20px;
}

.navbar-brand h1 { /* Luke' Portfolio Title */
  font-family: 'Rammetto One', cursive;
  color: #f2eaf7;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: .75;
  white-space: nowrap;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p { /* Page reacts with different sizes */
  color: #f2eaf7;
  font-family: 'Rammetto One', cursive;
  font-size: .7em;
  margin-top: 15px;
}

.popover-title {
  font-family: 'Rammetto One', cursive;
  background-color: #f0ad4e;
  color: #fff;
  font-size: 16px;
}

.popover-content {
  background-color: #2966bc;
  color: #fff;
}

#nav-list a {
  color: #f2eaf7;
  text-align: center;
  font-size: 1.2em;
}
#nav-list a:hover{
  background: #E7E7E7;
  color: #000;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #FFF;
}

.navbar-header button.navbar-toggle:hover {
  border: 1px solid #000;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* End Header */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#uses-title {
  color: #FFF;
  line-height: 2;
}
#uses-title > span{
  font-size: 1.3em;
}
#uses-title p {
  color: #FFF;
  font-size: .9em;
  line-height: 1.8;
}
/* END FOOTER */


/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    margin-bottom: 0;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 4.3vw; 
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }

  /* End Header */

  /* Main Content */

  .category-tile {
    height: auto !important; /* Heights don't need to match when tiles are stacked on x-small screens */
  }

  /* End Main Content */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

}

/* END HEADER */

/* HOME PAGE */

#main-content h2 {
	margin-top: 0px;
	margin-bottom: 25px;
  font-weight: bold;
}

.category-tile {
	border: 2px solid #3F0C1F;
  /*overflow: auto;*/
  /*height: 100%;*/
	margin: 0 auto 15px;
	background-color: #FFF;
  background-color: #f4f4f4;
  font-size: 1.2em;
}

.category-tile h3 {
	font-size: 1.5em;
	margin-top: 10px;
  font-weight: bold;
}

.category-tile h4 {
  font-size: 1.2em;
  margin-bottom: 0px;
}

/* End Header */





/********** Super extra small devices (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Title of Page */
    padding-top: 20px;
    font-size: 4vw;
  }

}
